<div dash-class ng-if="dashboard">
	<dashnav></dashnav>

	<div class="dashboard-container" style="position: relative">
		<div dash-editor-view></div>
		<dashboard-search></dashboard-search>
		<div class="clearfix"></div>

		<dashboard-submenu ng-if="dashboard.meta.submenuEnabled" dashboard="dashboard">
    </dashboard-submenu>
    <div ng-style="{'position': dashboard.meta.submenuEnabled ? 'absolute' : 'static'}" class="dashNav navbar-inner"  ng-if="dashboard.isSubShowTime">
      <gf-time-picker dashboard="dashboard"></gf-time-picker>
    </div>
    <div class="clearfix"></div>

    <dash-row class="dash-row" ng-repeat="row in dashboard.rows" row="row" dashboard="dashboard"
      ng-class="{'remove_mb': row.bgcolor.enabled}"
      ng-style="{'display': row.hideRow && (dashboard.switchHideRow||dashboard.hideDashNavbar) ? 'none' : 'initial', 'background-color': row.bgcolor.enabled ? row.bgcolor.color : 'initial'}">
    </dash-row>

    <div ng-show='dashboardMeta.canEdit' class="add-row-panel-hint">
      <div class="span12" style="text-align:left;">
        <span style="margin-left: 12px;" ng-click="addRowDefault()" class="pointer btn btn-inverse btn-small">
          <span><i class="fa fa-plus"></i> ADD ROW</span>
        </span>
      </div>
    </div>
  </div>
</div>
